body {
  min-height: 100%;
  line-height: 1.6;
  font-family: Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  padding: 0;
  margin: 0;
}

.max-content {
  margin: 0 auto;
  max-width: 90rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.section {
  margin: 1rem 0.5rem 0 0.5rem;
}
.subsection {
  margin-top: 1.5rem;
}

.center {
  text-align: center;
}

select,
input {
  padding: 0.4rem;
}

#app {
  font-weight: normal;
}
