html {
  height: 100%;
}

body {
  line-height: 1.6;
  font-family: Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  padding: 0;
  margin: 0;
}

#__nuxt {
  min-height: 100dvh;
  display: flex;
  align-items: stretch;
  justify-items: stretch;
  flex-direction: column;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}
main {
  flex: 1;
}

.max-content {
  max-width: 90rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.section {
  margin: 1rem 0.5rem 0 0.5rem;
}
.subsection {
  margin-top: 1.5rem;
}

.center {
  text-align: center;
}

select,
input {
  padding: 0.4rem;
}

#app {
  font-weight: normal;
}

.font-mono {
  font-family: monospace;
}
